
 <a style="left:0;bottom:0;background-color: #006CAD;color: #FFFFFF;font-weight: bold;height: 170px;
width: 100%;/*Siempre es necesario cuando trabajamos con alturas*/
position:fixed; /*El div será ubicado con relación a la pantalla*/
left:0px; /*A la derecha deje un espacio de 0px*/
right:0px; /*A la izquierda deje un espacio de 0px*/
bottom:0px; /*Abajo deje un espacio de 0px*/
height:30px; /*alto del div*/
text-align: center;
z-index:0;" width="100%" height="5%" align="center" type="button" href="/templates/condiciones.html">
    </b>T&eacute;rminos y Condiciones<b>
 </a>