.imageLogo {
	width: 55px;
	height: 55px;
	margin: 5px;
	margin-left: 73px;
}

body {
	background-color: #D4D4D6;
}
.title-text {
	height: 170px;
    width: 100%;
    background-image: url('/static/imagenes/Cabecera_web.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

.textGlobal {
    position: relative;
    top: 30px;
    font-weight: bold;
}

.centered {
	position: relative;
	top: 48%;
	left: 45%;
}

.centered1 {
	position: relative;
	left: 30%;
}

.paddingTop {
	margin-top: 10px;
}

.centeredLess {
	position: relative;
	top: 48%;
	left: 10px;
}
.buttonWidth {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.backbutton {
	background-color: #1C96EE;
	color: #FFFFFF;
}

.panel-primary>.panel-heading {
	background-color: #1C96EE;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 2px;
}

.panel-title {
	border-radius: 3px;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-color: #B6B6B6;
    border-width: 2px;
}
.PANELTITLE {	
    background-color: #1C96EE;
	color: #FFFFFF;
}

.panel {
	border-radius: 3px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-color: #B6B6B6;
    border-width: 2px;
}

.top6px {
	top:-6px;
}

.buttonWidthPrevious {
	float: left;
    margin: 0;
    width: 50%;
    margin-top: 10px;
}

input {
	color: #1C96EE;
	border-radius: 40px;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-color: #B6B6B6;
    border-width: 3px;
}
.backgroud-platinum {
	background-color: #B6B6B6;
}

.backgroud-white {
	background-color: #FFFFFF;
}

button {
	border-radius: 30px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    border-color: #B6B6B6;
    border-width: 3px;
}
a {
	border-radius: 30px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    border-color: #B6B6B6;
    border-width: 3px;
}

.btn {
	border-radius: 30px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    border-color: #B6B6B6;
    border-width: 3px;	
}

.border{
	border: 1px solid #214A8A;
	border-radius: 40px;
}

.buttonColor {
	background-color: #1C96EE;
	color: #FFFFFF;
	font-weight: bold;
}

.panel-primary {
	color: #1C96EE;
	border-radius: 5px;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-color: #B6B6B6;
    border-width: 3px;
}

.buttonWidthNext {
	float: right;
    margin: 0;
    margin-right: 20px;
    width: 50%;
    margin-top: 10px;
}

.buttonWidth2 {
	width: 100%;
}

.buttonWidth3 {
	width: 200px;
	float: right;
	margin-right: 35px;
	margin-top: 10px;
}

.bold {
	font-weight: bold;
}

.title {
	padding: 5px;
	font-size: 20px;
	text-transform: uppercase;
}

.padding {
	padding: 8px;
}

.rowHovert:hover {
 	background-color: #1C96EE;
	color: #FFFFFF;
}

.rowHovert {
 	background-color: #1C96EE;
	color: #FFFFFF;
}

.textSize {
	font-size: 16px;
}

.open>.dropdown-menu {
    display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    overflow-y: scroll;
    max-height: 300px;
    background-color: #1C96EE;
    color: #FFFFFF;
    text-align: -webkit-left;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px
}

.button3 {
 	background-color: #1C96EE;
	color: #FFFFFF;
}

.container {
	width: 99%;
}

.row {
	margin: 0px;
	padding: 0px;
}

.messageAlert {
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 20%;
}

.acceptedText {
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 36%;
	font-size: 15px;
}

.textInfo {
	padding: 2px;
    margin-top: 10px;
    text-align: justify;
}

.width170 {
	width: 170px;
}

.width120 {
	width: 120px;
}

.width100 {
	width: 100px;
}

.width25 {
	width: 25px;
}

.width140 {
	width: 140px;
}

.width150 {
	width: 150px;
}

.width60 {
	width: 60px;
}

.widthpercentage90 {
	width: 90%;
}

.margin5 {
	margin: 5px;
}

.margintop10 {
	margin-top:10px;
}

.scrollBar {
	max-height: 500px; 
    overflow-y: scroll;
}

.border1 {
	border: 1px solid #D4D4D6;
	border-radius: 4px;
}

.deletePadding {
	padding: 0;
}

.contactBy {
	padding-right: 15px; 
	padding-left: 15px; 
	margin-right: auto;
	margin-left: auto;
}
